.Banner {
  width: 100%;
  height: 40vh;
  background-image: url('https://storage.googleapis.com/afs-prod/media/media:6e186fbeb8ba48358df37ac88e3499dd/2000.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.Icon {
  width: 200px;
  height: 200px;
  background-image: url('./Trump.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: -100px;
  left: 200px;
  border-radius: 50%;
  border: 3px solid white;
  z-index: 10;
}
